/*Wolverine*/
@-webkit-keyframes claws {
  0% {opacity: 0;}
  40%  {opacity: 1; top:0;}
  55% {top: -50px;}
  70% {top: 0;}
  85% {top: -30px;}
  100% {top: 0;}
}
@-webkit-keyframes wolverine {
  0% {top: 0;}
  40%  { top:0;}
  55% {top: -50px;}
  70% {top: 0;}
  85% {top: -30px;}
  100% {top: 0;}
}
.main #wolverineclaws {
  -webkit-animation-name: claws;
  -webkit-animation-duration: 5s;
}
.main #wolverine{
  -webkit-animation-name: wolverine;
  -webkit-animation-duration: 5s;
}

/*mike tyson*/
@-webkit-keyframes bird {
  0% { top: -100px;}
  60% { top: 0px;}
  100%  {top:0px;}
}
@-webkit-keyframes love {
  0% {opacity: 0;}
  60% {opacity: 0;}
  100% {opacity: 1;}
}
.main #mikebird {
  -webkit-animation-name: bird;
  -webkit-animation-duration: 6s;
}
.main #mikelove {
  -webkit-animation-name: love;
  -webkit-animation-duration: 6s;
}
/* raiden */
@-webkit-keyframes lightning {
  0% {opacity: 0; top: -200px;}
  100% {opacity: 1; top: 0;}
}
.main #raidenlightning {
  -webkit-animation-name: lightning;
  -webkit-animation-duration: 5s;
}
/* human torch */
@-webkit-keyframes torch {
  0% {opacity: 0;}
  100% {opacity: 0.8;}
}
.main #humantorch {
  -webkit-animation-name: torch;
  -webkit-animation-duration: 5s;
}
/* spawn */
@-webkit-keyframes eyes {
  0% { opacity: 0;}
  40% {opacity: 1; -webkit-transform: scale(1);}
  70% { -webkit-transform: scale(1.2);}
  100% {-webkit-transform: scale(1);}
}
@-webkit-keyframes spawn {
  0%  {-webkit-transform: scale(1);}
  40% {-webkit-transform: scale(1);}
  70% { -webkit-transform: scale(1.2);}
  100% {-webkit-transform: scale(1);}
}
.main #spawneyes {
  -webkit-animation-name: eyes;
  -webkit-animation-duration: 6s;
}
.main #spawn {
  -webkit-animation-name: spawn;
  -webkit-animation-duration: 6s;
}
/* Drogo */
@-webkit-keyframes blood {
  0% { opacity: 0;}
  20% {opacity: 1; -webkit-transform: scale(1);}
  40% { -webkit-transform: scale(1.2);}
  50% {-webkit-transform: scale(1);}
}
@-webkit-keyframes dead {
  0% { opacity: 0;}
  50% { opacity: 0;}
  100% { opacity: 1;}
}
.main #drogoblood {
  -webkit-animation-name: blood;
  -webkit-animation-duration: 6s;
}
.main #drogodead {
  -webkit-animation-name: dead;
  -webkit-animation-duration: 6s;
}
/* Flash */
@-webkit-keyframes flash {
  0% { transform: translate(0) rotate(0deg); }
  2% { transform: translate(-1px, -3px) rotate(-1deg); left: -200px; }
  5% { transform: translate(-5px, 0px) rotate(1deg); }
  8% { transform: translate(0px, 2px) rotate(0deg); left: 200px;}
  10% { transform: translate(1px, -1px) rotate(1deg); }
  12% { transform: translate(-1px, 2px) rotate(-1deg); left: -200px}
  14% { transform: translate(-5px, 1px) rotate(0deg); }
  17% { transform: translate(2px, 1px) rotate(-1deg); }
  20% { transform: translate(-1px, -1px) rotate(1deg); left: 200px;}
  22% { transform: translate(2px, 2px) rotate(0deg); }
  25% { transform: translate(1px, -3px) rotate(-1deg); }
  28% { transform: translate(-1px, -3px) rotate(-1deg); }
  31% { transform: translate(-5px, 0px) rotate(1deg); }
  33% { transform: translate(0px, 2px) rotate(0deg); }
  37% { transform: translate(1px, -1px) rotate(1deg); left: -200px}
  40% { transform: translate(-1px, 2px) rotate(-1deg); }
  42% { transform: translate(-5px, 1px) rotate(0deg); left: 200px;}
  45% { transform: translate(2px, 1px) rotate(-1deg); }
  48% { transform: translate(-1px, -1px) rotate(1deg); }
  51% { transform: translate(2px, 2px) rotate(0deg); }
  55% { transform: translate(1px, -3px) rotate(-1deg); }
  57% { transform: translate(-1px, -3px) rotate(-1deg); }
  60% { transform: translate(-5px, 0px) rotate(1deg); }
  63% { transform: translate(0px, 2px) rotate(0deg); }
  67% { transform: translate(1px, -1px) rotate(1deg); }
  71% { transform: translate(-1px, 2px) rotate(-1deg); }
  75% { transform: translate(-5px, 1px) rotate(0deg); }
  78% { transform: translate(2px, 1px) rotate(-1deg); left: -200px}
  82% { transform: translate(-1px, -1px) rotate(1deg); }
  85% { transform: translate(2px, 2px) rotate(0deg); }
  88% { transform: translate(1px, -3px) rotate(-1deg); left: 200px;}
  90% { transform: translate(-1px, -3px) rotate(-1deg); }
  91% { transform: translate(-5px, 0px) rotate(1deg); }
  92% { transform: translate(0px, 2px) rotate(0deg); }
  94% { transform: translate(1px, -1px) rotate(1deg); }
  95% { transform: translate(-1px, 2px) rotate(-1deg); left: -200px}
  96% { transform: translate(-5px, 1px) rotate(0deg); }
  97% { transform: translate(2px, 1px) rotate(-1deg); left: 200px;}
  98% { transform: translate(-1px, -1px) rotate(1deg); }
  99% { transform: translate(2px, 2px) rotate(0deg); left: 0px;}
  100% { transform: translate(0) rotate(0); }
}
.main #flash {
  -webkit-animation-name: flash;
  -webkit-animation-duration: 6s;
}
/* Akuma */
@-webkit-keyframes akuma {
  40% {opacity: 1; top: 0; left: 0;}
  50% { top: -100px;}
  60% { top: 0; left: 0;}
  70% { left: -200px;}
  90% { left: 200px;}
  100% { left: 0;}
}
@-webkit-keyframes akumafire {
  0% {opacity: 0}
  40% {opacity: 1; top: 0; left: 0;}
  50% { top: -100px;}
  60% { top: 0; left: 0;}
  70% { left: -200px;}
  90% { left: 200px;}
  100% { left: 0;}
}
.main #akumafire {
  -webkit-animation-name: akumafire;
  -webkit-animation-duration: 6s;
}
.main #akuma {
  -webkit-animation-name: akuma;
  -webkit-animation-duration: 6s;
}
/* Manny */
@-webkit-keyframes belt {
  0% { top: -1000px;}
  40% { top: 0px;}
  50% { top: -150px;}
  70% { top: 0px;}
  90% { top: -200px;}
  100% { top: 0px;}
}
@-webkit-keyframes manny {
  40% { top: 0px;}
  50% { top: -150px;}
  70% { top: 0px;}
  90% { top: -200px;}
  100% { top: 0px;}
}
.main #mannybelt {
  -webkit-animation-name: belt;
  -webkit-animation-duration: 6s;
}
.main #manny {
  -webkit-animation-name: manny;
  -webkit-animation-duration: 6s;
}
/* Nightcrawler */
@-webkit-keyframes nightcrawler {
  0% { opacity: 1;}
  5% { opacity: 0;}
  10% { opacity: 1; left: -270px;}
  15% { opacity: 0; left: -270px;}
  20% { opacity: 1; left: 500px;}
  25% { opacity: 0; left: 500px;}
  30% { opacity: 1; left: -500px;}
  35% { opacity: 0;}
  40% { opacity: 1; left: -600px;}
  45% { opacity: 0;}
  50% { opacity: 1; left: 6100px;}
  55% { opacity: 0;}
  95% {opacity: 0;}
  100% { opacity: 1; left: 0px;}
}

.main #nightcrawler {
  -webkit-animation-name: nightcrawler;
  -webkit-animation-duration: 6s;
}
/* Ryu */
@-webkit-keyframes ryugloves {
  0% { opacity: 0;}
  10% {opacity: 1; -webkit-transform: scale(1);}
  20% { -webkit-transform: scale(1.2);}
  30% {-webkit-transform: scale(1); left: 0; top: 0;}
  50% {left: -300px; top: -300px;}
  60% {left: -300px; top: 0;}
  80% {left: 300px; top: -300px;}
  90% {left: 300px; top: 0;}
  100% { left: 0; top: 0;}
}
@-webkit-keyframes ryu {
  30% {left: 0; top: 0;}
  50% {left: -300px; top: -300px;}
  60% {left: -300px; top: 0;}
  80% {left: 300px; top: -300px;}
  90% {left: 300px; top: 0;}
  100% { left: 0; top: 0;}
}
.main #ryugloves {
  -webkit-animation-name: ryugloves;
  -webkit-animation-duration: 6s;
}
.main #ryu {
  -webkit-animation-name: ryu;
  -webkit-animation-duration: 6s;
}
.paused {
  -webkit-animation-play-state: paused;
}
