/*Wolverine*/
@-webkit-keyframes claws {
  0% {opacity: 0;}
  40%  {opacity: 1; top:0;}
  55% {top: -50px;}
  70% {top: 0;}
  85% {top: -30px;}
  100% {top: 0;}
}
@-webkit-keyframes wolverine {
  0% {top: 0;}
  40%  { top:0;}
  55% {top: -50px;}
  70% {top: 0;}
  85% {top: -30px;}
  100% {top: 0;}
}
.main #wolverineclaws {
  -webkit-animation-name: claws;
  -webkit-animation-duration: 5s;
}
.main #wolverine{
  -webkit-animation-name: wolverine;
  -webkit-animation-duration: 5s;
}

/*mike tyson*/
@-webkit-keyframes bird {
  0% { top: -100px;}
  60% { top: 0px;}
  100%  {top:0px;}
}
@-webkit-keyframes love {
  0% {opacity: 0;}
  60% {opacity: 0;}
  100% {opacity: 1;}
}
.main #mikebird {
  -webkit-animation-name: bird;
  -webkit-animation-duration: 6s;
}
.main #mikelove {
  -webkit-animation-name: love;
  -webkit-animation-duration: 6s;
}
/* raiden */
@-webkit-keyframes lightning {
  0% {opacity: 0; top: -200px;}
  100% {opacity: 1; top: 0;}
}
.main #raidenlightning {
  -webkit-animation-name: lightning;
  -webkit-animation-duration: 5s;
}