body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
 }
div {
  position: relative;
}
svg {
  position: absolute;
}
.icon {
  width: 25vw;
  height: 35vh;
  display: inline-block;
  background-color: white;
}

.main {
  width: 100vw;
  height: 100vh;
}
a {
  position: relative;
}
.title {
  position: absolute;
  line-height: 30vh;
  text-align: center;
  width: 25vw;
  top: 0;
  left: 0;
  -webkit-transition: all 2s;
  transition: all 1s;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800;
  color: white;
  z-index: 999;
  opacity: 0;
}
.left {
  left: -1000px;
}
.middle {
  top: -1000px;
}
.right {
  left: 1000px;
}
.icon:hover {
  opacity: 1;
  .left {
    left: 0;
    opacity: 1;
  }
  .middle {
    top: 0;
    opacity: 1;
  }
  .right {
    left: 0;
    opacity: 1;
  }
  svg {
    -webkit-filter: blur(.5px);
    filter: blur(0.5px);
  }
}
.about{
  position: fixed;
  opacity: 1;
  z-index: 9999;
  top: 5vh;
  left: 0;
  text-align: center;
  padding: 10px 17px;
  background-color: dodgerblue;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
}
.about:hover {
  opacity: 0.8;
  cursor: pointer;
}
.icon:hover {
  background-color: black;
}
.back{
  position: fixed;
  opacity: 1;
  z-index: 9999;
  top: 14vh;
  left: 0;
  text-align: center;
  padding: 10px 23px;
  background-color: dodgerblue;
  font-weight: 700;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  a {
    text-decoration: none;
    color: white;
  }
}
.back:hover {
  opacity: .8;
  cursor: pointer;
}
.info {
  position: fixed;
  top: 0;
  left: -2000px;
  background-color: dodgerblue;
  height: 100vh;
  width: 100vw;
  z-index: 99999;
  text-align: center;
  color: white;
  overflow: hidden;
  transition: all 2s;
  h1 {
    width: 80%;
    margin: 8vh 10%;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 700;

  }
  h2 {
    width: 80%;
    margin: 5vh 10%;
    text-align: left;
    font-size: 30px;
  }
  h4 {
    font-size: 25px;
    padding: 5px;
    width: 3%;
    margin: 0 48.5%;
    border-radius: 100%;
    background-color: white;
    color: dodgerblue;
  }
  a {
    text-decoration: none;
    color: white;
  }
  .close {
    font-weight: 800;
  }
  .close:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}