body {
  margin: 0;
 }
div {
  position: relative;
}
svg {
  position: absolute;
}
.icon {
  width: 20vw;
  height: 30vh;
  display: inline-block;
}

.main {
  width: 100vw;
  height: 100vh;
}
a {
  position: relative;
  :hover {
    opacity: 0.4;
  }
}
.title {
  position: absolute;
  line-height: 30vh;
  text-align: center;
  width: 20vw;
  top: 0;
  left: -1000px;
  -webkit-transition: all 2s;
  transition: all 1s;
}
a:hover .title{
  left: 0px;
}

#about{
  position: fixed;
  opacity: 1;
  z-index: 9999;
  top: 5vh;
  left: 0;
  text-align: center;
  padding: 10px 17px;
  background-color: dodgerblue;
}
#about:hover {
  opacity: .8;
}
.back{
  position: fixed;
  opacity: 1;
  z-index: 9999;
  top: 12vh;
  left: 0;
  text-align: center;
  padding: 10px 20px;
  background-color: dodgerblue;
}
.back:hover {
  opacity: .8;
}