<a href='/wolverine'><div class ='icon'>
    <%= render 'wolverine' %>
  </div></a><a href='/miketyson'><div class ='icon'>
    <%= render 'miketyson' %>
</div></a><a href='/raiden'><div class='icon'>
    <%= render 'raiden' %>
</div></a><a href='/raiden'><div class='icon'>
    <%= render 'humantorch' %>
</div></a>