<!DOCTYPE html>
<html>
<head>
  <title>Lilpeeps</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class='about'>
  About
</div>
<div class='info'>
  <h1> Welcome! </h1>
  <h2> I grew up idolizing larger than life characters, both real and fictional. This website is a way I can bring those chartacter to life using my own style. </h2>
  <br>
  <h3> Built by Joseph Go Chua, a web devloper/illustrator. </h3>
  <p> Contact:  joseph.gochua@gmail.com</p>
  <p> Portfolio:  <a href='http://josephgochua.com'> josephgochua.com </a> </p>
  <br>
  <h4 class='close'> X </h4>

</div>
<%= yield %>

</body>
</html>
